
/* Paleta1 */
$Luz-Verdadera-1-hex: #F2E530;
$Luz-Verdadera-2-hex: #8C862A;
$Luz-Verdadera-3-hex: #F2D335;
$Luz-Verdadera-4-hex: #D9D9D9;
$cor: #ffd000;

/* Paleta2 */
$Urban-Umbrella-1-hex: #FAD41B;
$Urban-Umbrella-2-hex: #FAF8EB;
$Urban-Umbrella-3-hex: #939598;
$Urban-Umbrella-4-hex: #76777B;
$Urban-Umbrella-5-hex: #54565B;

/* Paleta3 */
$GreysBluesYellow1: #A3CDD9;
$GreysBluesYellow2: #FFFCE6;
$GreysBluesYellow3: #F2CC39;
$GreysBluesYellow4: #506AD4;
$GreysBluesYellow5: #C2B8AD;

/* Paleta4 */
$Natureza-1-hex: #F2F2F2;
$Natureza-2-hex: #A6A6A6;
$Natureza-3-hex: #595959;
$Natureza-4-hex: #262626;
$Natureza-5-hex: #0D0D0D;


/* Paleta5 */
$Crossover1: #F20530;
$Crossover2: #F21B54;
$Crossover3: #F21B6A;
$Crossover4: #0477BF;
$Crossover5: #0378A6;









